.pin {
  padding-bottom: 72px;
  .pin-image {
    width: 100%;
    padding-top: 72px;
  }
  .img-note {
    padding-left: 12px;
    font-size: 24px;
    font-weight: bold;
  }
  .img-attribute {
    text-align: center;
    .img-name {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-weight: 600;
      word-wrap: break-word;
      font-size: 28px;
      margin-bottom: 32px
    }
    .img-des {
    }
  }
  .other {
    margin-top: 24px;
    text-align: center;
    font-weight: 600;
  }
}
